{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="container">
  <h1 class="title">Tic-Tac-Toe</h1>
  <h3 class="title"> Your sign: {{ player_sign }}</h3>
  <div class="play-area">
    {% for i, v in blocks.items %}
    {% if v == " " %}
    <div id="block_{{ i }}" class="block" onclick="send_user_click(this.id)">{{ v }}</div>
    {% else %}
    <div id="block_{{ i }}" class="block occupied" onclick="send_user_click(this.id)">{{ v }}</div>
    {% endif %}
    {% endfor %}
  </div>
  <h2 id="winner"></h2>
  {% if game_over %}
  <button id="restart-btn" class="nes-btn is-success" onclick="reset()">RESET BOARD</button>
  {% else %}
  <button id="restart-btn" class="nes-btn is-success is-disabled" onclick="reset()">RESET BOARD</button>
  {% endif %}
  <div class="nes-balloon">
    <h3 class="center">INFO</h3>
    <ul class="nes-list is-disc">
      <li>
        <p>X always go first</p>
      </li>
      <li>
        <p>You can join the unfinished game and play it</p>
      </li>
      <li>
        <p>
          Reset button activates when X or O win and anyone can push it
        </p>
      </li>
    </ul>
  </div>
</div>
<script>
  const gameName = "{{ object.pk }}";
  const board_container = document.querySelector(".play-area");

  const gameSocket = new WebSocket(
    "wss://" + window.location.host + "/ws/game/" + gameName + "/"
  );

  gameSocket.onmessage = (msg) => {
    data = JSON.parse(msg.data);
    const winner = document.getElementById('winner')
    const board = data.board.split("")


    if (data.winner) {
      if (data.winner === 'X') {
        winner.innerHTML = 'Winner is X <i class="nes-icon trophy is-medium"></i>';
      } else if (data.winner === 'O') {
        winner.innerHTML = 'Winner is O <i class="nes-icon trophy is-medium"></i>';
      } else if (data.winner === true) {
        winner.innerText = "Draw!";
      }
      document.getElementById('restart-btn').classList.remove('is-disabled');
    } else {
        winner.innerHTML = '';
        document.getElementById('restart-btn').classList.add('is-disabled');
    }
    render_board(board);
  };

  function send_user_click(index) {
    gameSocket.send(JSON.stringify({
      'index': Number(index.slice(-1)),
    }));
  }

  function reset() {
    gameSocket.send(JSON.stringify({
      'reset_board': true,
    }))
  }

  const render_board = (board) => {
    board_container.innerHTML = "";
    board.forEach((e, i) => {
      board_container.innerHTML += `<div id="block_${i}" class="block" onclick="send_user_click(this.id)">${board[i]}</div>`;
      if (e !== " ") {
        document.querySelector(`#block_${i}`).classList.add("occupied");
      }
    });
  };
</script>
{% endblock content %}