{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <h1 class="title">Tic-Tac-Toe</h1>
  <h3 class="title">Train here VS computer</h3>
  <div class="play-area nes-pointer">
    <div id="block_0" class="block"></div>
    <div id="block_1" class="block"></div>
    <div id="block_2" class="block"></div>
    <div id="block_3" class="block"></div>
    <div id="block_4" class="block"></div>
    <div id="block_5" class="block"></div>
    <div id="block_6" class="block"></div>
    <div id="block_7" class="block"></div>
    <div id="block_8" class="block"></div>
  </div>
  <h2 id="winner"></h2>

  <button id="restart-btn" onclick="restart()" class="nes-btn is-error">RESTART</button>

  <h3 class="title">Play VS other players</h3>
  <div class="lists">
    <ul class="nes-list is-disc">
      {% for game in games %}
      <li>
        <div class="nes-balloon">
          {% if game.player_x %}
          <p>PLAYER X: PLACE TAKEN</p>
          {% else %}
          <p>PLAYER X: PLACE FREE</p>
          {% endif %}
          {% if game.player_o %}
          <p>PLAYER O: PLACE TAKEN</p>
          {% else %}
          <p>PLAYER O: PLACE FREE</p>
          {% endif %}
          <div class="center">
            <a class="nes-btn is-primary" href="{% url 'game' game.pk %}">JOIN GAME</a>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>

    </div>
    <script src="{% static 'scripts/client-game.js' %}"></script>
    {% endblock content %}